
:root
{
  --main-color: rgb(151, 58, 244);
  --grey-color: #ccc;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-size: 20px;
}
.container
{
  max-width: 40rem;
  margin: 0 auto;
  width: 90%;
}
.header-container
{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1rem;
}
.logo
{
  margin-right: auto;
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.font-and-theme
{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.theme-and-icon
{
  border-left: 1px solid grey;
  padding-left: 2rem;
  display: flex;
}
input{
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0;
  padding-left: 1rem;
  border: none;
  background: var(--grey-color);
  color: black;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
.input-container
{
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.search-btn
{
  background: var(--grey-color);
  border: none;
  padding: .95rem;
  font-size: inherit;
}
.spell
{
  margin-right: auto;
}
.heading
{
  display: flex;
  align-items: center;
}
.audio-icon
{
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
}
.noun
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.line
{
  width: 100%;
  height: 1px;
  background: var(--grey-color);
}
ul
{
  list-style: none;
}

ul li::before
{
  content: "\2022";
  color: var(--main-color);
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
ul li{
  margin-bottom: 0.75rem;
}
.purple
{
  color: var(--main-color);
}
.synonym
{
  margin-left: 1rem;
}
.source
{
  margin-bottom: 5rem;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1rem;
}
.source-icon
{
  font-size: .75rem;
}
.source-link
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--grey-color);
}
.loading
{
  margin-top: 2rem;
  text-align: center;
}
.asd
{
  margin-right: 15px;
}
.audio-element
{
  width: 100%;
}
.dark-icon
{
  font-size: 2rem;
  cursor: pointer;
}
.word{
  margin: 0;
}
.bottom-header
{
  overflow: hidden;
  background: var(--grey-color);
  position: fixed;
  bottom: 10px;
  max-width: 40rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: .5rem;
  cursor: pointer;
  color: black;
}
.bottom-header:hover
{
  background: #aaa;
}
#fonts
{
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.start-btn
{
  padding: .7rem;
  background: var(--main-color);
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.welcome-container
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
.audio
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.source-heading
{
  margin-top: 4rem;
  margin-bottom: 0;
}
.favorites
{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.favorite-words
{
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
}
.favorite-words > p{
  margin: 0;
}
.bin
{
  cursor: pointer;
  font-size: 2rem;
}
.favorite-words-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 2.5rem;
}
.favorite-word{
  font-size: 2rem;
}
.go-back-btn
{
  cursor: pointer;
  font-size: 1.5rem;
  background: var(--main-color);
  color: white;
}
.dictionary
{
  max-width: 100%;
}
.status
{
  text-align: center;
}
.add-to-favs
{
  font-size: 2rem;
}
.add-to-favs:hover
{
  cursor: pointer;
  color: var(--main-color)
}
.favorite-container
{
  width: 100%;
}
.favorite-container > p
{
  margin: 0;
}
.favorite-synonym
{
  color: white;
}
.meaning
{
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1rem;
}
.word-bin
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items{
  margin-bottom: 1rem;
}
.spinner-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 50vh;
}
.brand-name
{
  margin: 0;
  font-size: 1.35rem;
}
.hamburger-menu-icon
{
  display: none;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.menu-items > h4:hover
{
  background: #aaa;
}
.menu-items > #fonts:hover
{
  background: #aaa;
}
.menu-items > #fonts
{
  width: 100%;
  padding: 0.5rem 0.35rem;
}
.menu-items > h4{
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem 0.35rem;
}
input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}
input {
  -webkit-appearance: none;
}
.menu-items
{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.menu-items::before
{
  margin: 0;
}
.heart{
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.search-icon
{
  color: var(--main-color);
}
.word-wizard
{
  border-bottom: 3px solid var(--main-color);
  padding-bottom: .25rem;
}
.arrow-right-icon
{
  font-size: 1.25rem;
}
@media (max-width: 600px)
{
  .font-and-theme
  {
    display: none;
  }
  .hamburger-menu-icon
  {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .close
  {
    background: var(--main-color);
    color: white;
  }
  .heart
  {
    display: none;
  }
}
@media (max-width: 440px)
{
  .source > a{
    font-size: .75rem;
  }
}

@media (max-width: 310px)
{
  .theme-and-icon
  {
    padding: .5rem;
  }
  .font-and-theme
  {
    gap: .5rem;
  }
  .audio-icon
  {
    font-size: 2.5rem;
  }
}